<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.bidangol.mapper.ItemMapper">

	<resultMap type="com.shop.bidangol.vo.ItemVO" id="item">
		<result property="itemNum" column="item_num"/>
		<result property="itemCategory" column="item_category"/>
<!-- 		<result property="itemImg" column="item_img"/> -->
		<result property="itemName" column="item_name"/>
		<result property="itemInfo" column="item_info"/>
		<result property="itemMeterial" column="item_meterial"/>
		<result property="itemUsedate" column="item_usedate"/>
		<result property="itemPrice" column="item_price"/>
		<result property="itemSize" column="item_size"/>
	</resultMap>

	<!-- 상품(아이템) 상세 조회 -->
	<select id="getItemOne" resultType="com.shop.bidangol.vo.ItemVO" resultMap="item">
		SELECT
			item_num,
			DECODE(item_category, 01, '베스트상품', 02, '찹쌀떡', 03, '멥쌀떡', 04, '떡케이크'),
			<!-- item_img, -->
			item_name,
			item_info,
			item_meterial,
			item_usedate,
			item_price,
			item_size
		FROM ITEMS
		WHERE
			item_num = #{itemNum}
	</select>

	<!-- 공지사항 등록 -->
	<insert id="addItem" parameterType="com.shop.bidangol.vo.ItemVO">
		INSERT INTO ITEMS (
		item_num,
		item_category,
		<!-- item_img, -->
		item_name,
		item_info,
		item_meterial,
		item_usedate,
		item_price,
		item_size
		)
		VALUES (
		itemnum_seq.NEXTVAL,
		#{itemCategory},
		<!-- #{itemImg}, -->
		#{itemName},
		#{itemInfo},
		#{itemMeterial},
		#{itemUsedate},
		#{itemPrice},
		#{itemSize}
		)
	</insert>
	
	<!-- 상품(아이템) 수정 -->
	<update id="modifyItem" parameterType="com.shop.bidangol.vo.ItemVO">
		UPDATE ITEMS 
		SET 
			item_name = #{itemName},
			item_category = #{itemCategory},
			<!-- item_img = #{itemImg}, -->
			item_name = #{itemNmae},
			item_info = #{itemInfo},
			item_meterial = #{itemMeterial},
			item_usedate = #{itemUsedate},
			item_price = #{itemPrice},
			item_size = #{itemSize}
		WHERE 
			item_num = #{itemNum}
	</update>
	
	<!-- 상품(아이템) 삭제 -->
	<delete id="deleteItem" >
		DELETE FROM ITEMS WHERE item_num = #{itemNum}
	</delete>


</mapper>