<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.bidangol.mapper.ItemMapper">

	<resultMap type="com.shop.bidangol.vo.ItemVO" id="item">
		<result property="itemNum" column="item_num" />
		<result property="itemCategory" column="item_category" />
		<result property="itemName" column="item_name" />
		<result property="itemInfo" column="item_info" />
		<result property="itemMeterial" column="item_meterial" />
		<result property="itemUsedate" column="item_usedate" />
		<result property="itemPrice" column="item_price" />
		<result property="itemNo" column="item_no" />
		<result property="itemImg" column="item_img" />
		<result property="thumbImg" column="thumb_img" />
		<result property="totalCount" column="total_count" />
	</resultMap>
	
	<resultMap type="com.shop.bidangol.vo.ItemImgVO" id="itemImg">
		<result property="itemImgNum" column="ITEMIMG_NUM" />
		<result property="itemImgOrifilename" column="ITEMIMG_ORIFILENAME" />
		<result property="itemImgSavefilename" column="ITEMIMG_SAVEFILENAME" />
		<result property="itemImgFiletype" column="ITEMIMG_FILETYPE" />
	</resultMap>

	<!-- 상품 리스트 불러오기 -->
	<select id="getItemList"
		resultType="com.shop.bidangol.vo.ItemVO" resultMap="item">
		SELECT
			item_num,
			item_Category || '-' || LPAD(item_Num, 3, '0') as item_no,
			CASE
			WHEN item_category = '01' THEN '베스트상품'
			WHEN item_category = '02' THEN '찹쌀떡'
			WHEN item_category = '03' THEN '멥쌀떡'
			WHEN item_category = '04' THEN '떡케이크'
			END AS item_category,
			item_img,
			item_name,
			item_info,
			item_meterial,
			item_usedate,
			item_price
		FROM ITEMS
		ORDER BY item_no desc
	</select>
	
	<!-- 01 베스트아이템 상품리스트 -->
	<select id="getBestItem" resultType="com.shop.bidangol.vo.ItemVO" resultMap="item">
		SELECT *
		FROM ITEMS
		WHERE item_category = '01'
	</select>
	
	<!-- 02 찹쌀떡 상품리스트 -->
	<select id="getTteok01" resultType="com.shop.bidangol.vo.ItemVO" resultMap="item">
		SELECT *
		FROM ITEMS
		WHERE item_category = '02'
	</select>
	
	<!-- 03 멥쌀떡 상품리스트 -->
	<select id="getTteok02" resultType="com.shop.bidangol.vo.ItemVO" resultMap="item">
		SELECT *
		FROM ITEMS
		WHERE item_category = '03'
	</select>
	
	<!-- 04 떡케이크 상품리스트 -->
	<select id="getTteokCake" resultType="com.shop.bidangol.vo.ItemVO" resultMap="item">
		SELECT *
		FROM ITEMS
		WHERE item_category = '04'
	</select>
	
	<!-- ================================================================================ -->
	
	<!-- 01 베스트아이템 상품갯수 -->
	<select id="getCountBest" resultType="Integer" resultMap="item">
		SELECT COUNT(*) AS totalCount
		  FROM ITEMS
		  WHERE item_category = '01'
	</select>
	
	<!-- 02 찹쌀떡 상품갯수 -->
	<select id="getCounTteok01" resultType="Integer" resultMap="item">
		SELECT COUNT(*) AS totalCount
		  FROM ITEMS
		  WHERE item_category = '02'
	</select>
	
	<!-- 03 멥쌀떡 상품갯수 -->
	<select id="getCountTteok02" resultType="Integer" resultMap="item">
		SELECT COUNT(*) AS totalCount
		  FROM ITEMS
		  WHERE item_category = '03'
	</select>
	
	<!-- 04 떡케이크 상품갯수 -->
	<select id="getCountTteokCake" resultType="Integer" resultMap="item">
		SELECT COUNT(*) AS totalCount
		  FROM ITEMS
		  WHERE item_category = '04'
	</select>
	
	<!-- ================================================================================ -->

	<!-- 상품(아이템) 상세 조회 -->
	<select id="getItemOne" resultType="com.shop.bidangol.vo.ItemVO"
		resultMap="item">
		SELECT
			item_num,
			item_Category || '-' || LPAD(item_Num, 3, '0') as item_no,
			CASE
			WHEN item_category = '01' THEN '베스트상품'
			WHEN item_category = '02' THEN '찹쌀떡'
			WHEN item_category = '03' THEN '멥쌀떡'
			WHEN item_category = '04' THEN '떡케이크'
			END AS item_category,
			item_img,
			thumb_img,
			item_name,
			item_info,
			item_meterial,
			item_usedate,
			item_price
		FROM ITEMS
		WHERE
		item_num = #{itemNum}
	</select>
	
	<!-- ================================================================================ -->

	<!-- (관리자페이지) 상품 등록 -->
	<insert id="addItem" parameterType="com.shop.bidangol.vo.ItemVO">
		INSERT INTO ITEMS (
			item_num,
			item_category,
			item_img,
			thumb_img,
			item_name,
			item_info,
			item_meterial,
			item_usedate,
			item_price
		)
		VALUES (
			itemnum_seq.NEXTVAL,
			#{itemCategory},
			#{itemImg},
			#{thumbImg},
			#{itemName},
			#{itemInfo},
			#{itemMeterial},
			#{itemUsedate},
			#{itemPrice}
		)
	</insert>
	
	
	<!-- (관리자페이지) 상품 수정 -->
	<update id="modifyItem"
		parameterType="com.shop.bidangol.vo.ItemVO">
		UPDATE ITEMS
		SET
		item_name = #{itemName},
		item_category = #{itemCategory},
		item_img = #{itemImg},
		thumb_img = #{thumbImg},
		item_info = #{itemInfo},
		item_meterial = #{itemMeterial},
		item_usedate = #{itemUsedate},
		item_price = #{itemPrice}
		WHERE
		item_num = #{itemNum}
	</update>

	<!-- (관리자페이지) 상품 삭제 -->
	<delete id="deleteItem">
		DELETE FROM ITEMS WHERE item_num = #{itemNum}
	</delete>


</mapper>