@charset "UTF-8";

input[type=button] {
	cursor: pointer
}

/*----- 관리자페이지 상단메뉴 -----*/
.admin {
	width: 100%;
	padding-top: 50px;
}

.admin>.wrap {
	width: 1200px;
	margin: 0 auto;
}

/* 관리자페이지 - 타이틀 */
.adminTitle {
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
}

.adminTitle h3 {
	font-size: 25px;
}

/* 관리자페이지 - adminInfo */
.adminInfo {
	width:900px;
	margin: 0 auto;
	border-top: 2px solid #FF984F;
	border-bottom: 1px solid #FF984F;
	background-color: rgba(255,152,75,0.1);
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

.adminInfo ul {
	display: flex;
}

.adminInfo li a:hover {
	font-weight: 600;
}

/*----- 관리자페이지 - 유저정보 -----*/
.adminUser, .adminOrder, .adminItem {
	width: 100%;
	padding-bottom: 80px;
}

.adminUser, .adminOrder, .adminItem>.wrap {
	width:900px;
	margin: 0 auto;
}

/* 관리자페이지 - 유저정보(thead) */
.auTitle, .aoTitle {
	width: 100%;
	text-align: center;
	padding: 25px;
}

.auTitle h3 {
	font-size: 20px;
}
.aoTitle h3 {
	font-size: 20px;
}
.adminItem h3 {
	font-size: 20px;
}


/* 관리자페이지 - 유저정보(리스트) */
.auInfo {
	padding: 10px 0;
	border-top: 2px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background-color: #FCFBFB;
}

.auInfo td {
	font-weight: 600;
	font-size: 15px;
	text-align: center;
}

.adminUser td:nth-child(1) {
	width: 150px;
}
.adminUser td:nth-child(2) {
	width: 350px;
}
.adminUser td:nth-child(3) {
	width: 200px;
}
.adminUser td:nth-child(4) {
	width: 200px;
}

.auList {
	padding-bottom: 30px;
}

.auList td{
	text-align:center;
	font-size: 15px;
	padding: 10px 0;
	border-bottom: 1px solid #CCCCCC;
}

.auList tr:hover {
	cursor: pointer;
	background-color: #fafafa;
}

/*----- 관리자페이지 - 유저정보 -----*/
.adminUser .userInfo, .orderInfo_ {
	border: 1px solid #cccccc;
	border-radius: 10px;
	padding: 30px 0;
	width: 900px;
}

.userInfo th, .orderInfo_ th {
	padding: 10px 20px;
	text-align: left;
}

.userInfo tr, .orderInfo_ tr  {
	border-bottom: 1px solid #eeeeee;
}

/*----- 관리자페이지 - 주문관리 -----*/

.adminOrder td:nth-child(1) {
	width: 150px;
}
.adminOrder td:nth-child(2) {
	width: 150px;
}
.adminOrder td:nth-child(3) {
	width: 250px;
}
.adminOrder td:nth-child(4) {
	width: 150px;
}
.adminOrder td:nth-child(5) {
	width: 100px;
}
.adminOrder td:nth-child(6) {
	width: 100px;
}

.ao_btn {
	padding-top: 20px;
	text-align: center;
}

.ao_btn input {
	padding: 10px 20px;
	font-size: 15px;
	color: #ffffff;
	border: none;
	margin-right: 5px;
}

#orderUpdate {
	background-color: #2a2a2a;
}

#cancel {
	background-color: #777777;
}

/*----- 관리자페이지 - 상품관리 -----*/

.adminItem td:nth-child(1) {
	width: 200px;
}
.adminItem td:nth-child(2) {
	width: 200px;
}
.adminItem td:nth-child(3) {
	width: 300px;
}
.adminItem td:nth-child(4) {
	width: 200px;
}

.CheckSearch {
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

.CheckSelect select,
.searchDate input,
.searchItem input,
.orderInfo_ select{
	padding: 8px 10px;
	border: 1px solid #cccccc;
	font-size: 14px;
}

/*----- 관리자페이지 - 상품정보(버튼) -----*/
.itemInfo_btn {
	padding: 15px 10px;
	display: flex;
	justify-content: flex-end;
	
}

.itemInfo_btn input {
	padding: 4px 10px;
	font-size: 14px;
	border: none;
	background-color: #2a2a2a;
	color: #ffffff
}

/*----- 관리자페이지 - 상품추가 -----*/
.itemAdd {
	width: 100%;
}

.itemAdd>.wrap {
	padding: 40px 0;
	width: 1200px;
	margin: 0 auto;
	border-radius: 10px;
}

.itemAdd input[type=button] {
	cursor: pointer
}

.addTitle {
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
}

.addTitle h3 {
	font-size: 20px;
}

.addInfo {
	width:900px;
	margin: 0 auto;
	border-top: 2px solid #CCCCCC;
}


.addInfo tr {
	width:900px;
	border-bottom: 1px solid #eee
}

.addInfo th {
	background-color: #FCFBFB;
	text-align: left;
	padding:10px 20px;
	text-align:center;
	width: 180px;}
	
.addInfo td {
	padding:15px 20px}

.addInfo table {
	padding:10px 0;
	 width:900px;
	border-bottom: 1px solid #CCCCCC;
}


.add_btn {
	padding: 15px 0;
	display: flex;
	justify-content: flex-end;
}

.add_btn input {
	width: 100px;
	padding:10px 5px;
	border: none;
	color: #ffffff;
	margin-right: 10px
}

#itemCancle {
	background-color: #777777
}

#itemUpload, #itemUpdate {
	background-color: #2a2a2a
}

SELECT, .addInfo input[type=text]{
	padding: 5px;
	border: 1px solid #cccccc;
	font-size: 15px
}

.addInfo input[type=text] {
	width: 700px;
	
}

/* 관리자페이지 - adminPaging */
.adminPaging {
	text-align: center;
	padding:10px 0;
}

