@charset "UTF-8";

/* 카테고리 전체 */
.category {
	width: 100%;
	padding-bottom: 30px;
}

.category>.wrap {
	padding: 0 100px;
	width: 1400px;
	margin: 0 auto;
}

/* 카테고리 - 타이틀 */
.cgTitle {
	width: 100%;
	text-align: center;
	padding: 40px 0;
}

.cgTitle h3 {
	font-size: 25px;
}

.cgTitle p {
	font-size: 15px;
	padding: 10px 0;
}

/* 카테고리 - 아이템(정보+리스트) */
.cgItem {
	padding: 10px 0;
}

/* 카테고리 - 아이템정보 */
.itemInfo {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	font-size: 13px;
	border-bottom: 1px solid #eeeeee;
}

.itemCount {
	font-weight: 600;
}

.itemArray>ul {
	display: flex;
}

.itemArray>ul li a:hover {
	font-weight: 600;
}

/* 카테고리 - 아이템리스트 */
.itemList  {
	padding: 20px 0;
}

.itemList td {
	padding:10px 10px;
	cursor: pointer
}

.itemList td:hover img  {
	transform: scale(1.1); transition-duration: 0.5s;
}

.itemText {
	border: 1px solid #eeeeee;
}



.name {
	font-weight: bold;
	padding-bottom: 5px;
}

.itemImgWrap {
	width:280px;
	height:280px;
	margin: 0px auto;
	overflow: hidden;
	
}

.itemImg {
	width: 100%;
	height: 100%;
	object-fit:cover;
	transition-duration: 0.3s;
}

.itemText {
	padding: 10px 10px 20px 10px;
}

.itemName {
	font-weight: 600;
	font-size: 17px;
	line-height: 30px;
}

/*---------empty ---------*/
.empty {
	width: 100%;
	text-align: center;
	padding: 50px 0;
	color: #777777;
	font-size: 14px;
}