@charset "UTF-8";

input[type=button] {
	cursor: pointer
}

body {position: relative;}

/*----- 마이페이지 상단메뉴 -----*/
.myPage {
	width: 100%;
	padding-top: 50px;
}

.myPage>.wrap {
	width: 1200px;
	margin: 0 auto;
	border-radius: 10px;
	
}

/* 마이페이지 - 타이틀 */
.myTitle {
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
}

.myTitle h3 {
	font-size: 25px;
}

/* 마이페이지 - myInfo */
.myInfo {
	width:900px;
	margin: 0 auto;
	border-top: 2px solid #FF984F;
	border-bottom: 1px solid #FF984F;
	background-color: rgba(255,152,75,0.1);
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

.myInfo ul {
	display: flex;
}

/*----- 마이페이지 - 주문/조회 -----*/
.CheckPage {
	width: 100%;
	padding-bottom: 80px;
}

.CheckPage>.wrap {
	width:900px;
	margin: 0 auto;
}


/* 마이페이지 - 주문/조회(조건조회) */
.CheckSearch {
	padding: 15px;
	display: flex;
	justify-content: space-between;
}

.CheckSelect select, .searchDate input {
	padding: 8px 10px;
	border: 1px solid #cccccc
}


/* 마이페이지 - 주문/조회(주문정보) */
.CheckInfo {
	border-top: 2px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background-color: #FCFBFB;
	padding: 10px 0;	
}

.CheckInfo td {
	font-weight: 600;
	font-size: 15px;
	text-align: center;
}

.CheckPage td:nth-child(1) {
	width: 150px;
}
.CheckPage td:nth-child(2) {
	width: 400px;
	font-weight: 600
}
.CheckPage td:nth-child(3) {
	width: 150px;
}
.CheckPage td:nth-child(4) {
	width: 100px;
}
.CheckPage td:nth-child(5) {
	width: 100px;
}

.CheckList td{
	text-align:center;
	font-size: 14px;
	padding: 10px 0;
	border-bottom: 1px solid #CCCCCC;
}

/* 마이페이지 - 주문/조회(페이징) */
.CheckPaging {
	text-align: center;
	padding:30px 0 0 0;
}

/*----- 마이페이지 - 회원정보수정 -----*/
.userInfo {
	width: 100%;
	padding: 30px 0 80px 0;
}


.userInfo>.wrap {
	padding: 50px 0;
	width: 900px;
	margin: 0 auto;
	border: 1px solid #dddddd;
	border-radius: 10px;
}

/* 마이페이지 - 회원정보수정(타이틀) */

.userTitle {
	width: 100%;
	text-align: center;
	padding-bottom: 30px;
}

.userTitle h3 {
	font-size: 25px;
}
	

/* 회원가입페이지 - 회원정보수정(상세정보) */
.userInfo_ {
	width:900px;
	margin: 0 auto;
}

.userInfo_ input {
	border: 1px solid #cccccc;
	margin: 5px 0;
}

.userInfo_ span {
	font-size: 12px;
	padding-left: 10px;
}

.userInfo_ table {
	margin:0 auto;
	border-collapse: collapse;
}
.userInfo_ table input {
	font-size: 14px;
	padding: 3px;
}

.userInfo_ tr {
	border-bottom: 2px solid #777777;
	padding: 0 5px;
}

.userInfo_ th {
	width: 120px;
	font-size: 15px;
	text-align: left;
	padding: 15px 0;
}

/* 회원가입페이지 - 회원정보수정(버튼) */
.user_btn {
	width: 600px;
	padding: 10px 0px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.user_btn input {
	font-size: 15px;
	padding: 10px;
	
}
.updateUser {
	background-color: #2a2a2a;
	color: #ffffff;
	border: none;
}
.cancleUser {
	background-color: #777777;
	color: #ffffff;
	border: none;
}
.deleteUser {
	border: 1px solid #cccccc;
	background-color: #ffffff;
	color: #2a2a2a
}

/* 회원탈퇴 - 탈퇴 비밀번호 체크 */

#userDelete {
	display:none;
	position: absolute;
	background-color: rgba(0,0,0,0.1);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1
}

#userDelete>.wrap {
	position:fixed;
	width: 500px;
	height: 300px;
	top:50%;
	left:50%;
	 margin-left: -250px;
	 margin-top: -150px;
	border: 1px solid #555555;
	background-color: #ffffff;
}

.deleteBox {
	width: 100%;
	background-color: #000000;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	padding: 15px 10px;
}

.deleteBox i {
	font-size:20px;
	cursor: pointer;
}

.deleteCheck {
	text-align: center;
	padding: 50px 20px;
}
.deleteCheck p {
	font-size: 14px;
	padding-bottom: 20px;
}

.pwCheck {
	padding-bottom: 20px;
}

.delete_btn input{
	padding: 10px 50px;
	font-size: 15px;
	border: none;
	color: #ffffff
}

#deleteEnd {
	background-color: #2a2a2a
}

#deletePw {
	padding: 5px;
}

#deleteCancle {
	background-color: #777777
}

