@charset "UTF-8";

/*----- 공지사항 틀 -----*/
.noticePage, .noticeWrite, .noticeUpdate {
	width: 100%;
}

.noticePage>.wrap, .noticeWrap {
	padding: 40px 0;
	width: 1200px;
	margin: 0 auto;
	border-radius: 10px;
}
.noticeWrite>.wrap {
	padding: 40px 0;
	width: 1200px;
	margin: 0 auto;
	border-radius: 10px;
}

input[type=button] {
	cursor: pointer
}


/* 공지사항 - 타이틀 */

.noticeTitle, .writeTitle, .nuTitle {
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
}

.noticeTitle h3, .writeTitle h3, .nuTitle h3 {
	font-size: 25px;
}

/* 공지사항 - section */
.noticeInfo, .noticeItem, .notice_btn, .noticePaging, .writeInfo, .nuInfo
{
	width:900px;
	margin: 0 auto;
}

/* 공지사항 - noticeInfo */
.noticeInfo {
	border-top: 2px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background-color: #FCFBFB;
	padding: 10px 0;	
}

.noticeInfo td {
	font-weight: 600;
	font-size: 15px;
	text-align: center
}

.noticePage td:nth-child(1) {
	width: 100px;
}
.noticePage td:nth-child(2) {
	width: 150px;
}
.noticePage td:nth-child(3) {
	width: 500px;
}
.noticePage td:nth-child(4) {
	width: 100px;
}
.noticePage td:nth-child(5) {
	width: 200px;
}

/* 공지사항 - noticeItem */
.noticeItem tr {
	width: 100%;
	border-bottom: 1px solid #dddddd;
}

.noticeItem td {
	font-size: 14px;
	text-align: center;
	padding: 10px 0;
}

.noticeItem tr:hover {
	cursor: pointer;
	background-color: #fafafa;
}


/* 공지사항 - notice_btn(관리자 전용) */
.notice_btn {
	padding: 10px 0;
	display: flex;
	justify-content: flex-end;
}

.notice_btn input {
	padding: 4px 10px;
	font-size: 13px;
	border: none;
	color: #ffffff;
	background-color: #2a2a2a
}


/*----- 공지사항 글쓰기 - writeInfo -----*/

.writeInfo, .nuInfo {
	border-top: 2px solid #CCCCCC;	
}

.writeInfo tr, .nuInfo tr {
	border-bottom: 1px solid #eee;

}

.writeInfo th, .nuInfo th {
	background-color: #FCFBFB;
	text-align: left;
	padding:10px 20px;
	text-align:center;
	width: 180px;}
	
.writeInfo td, .nuInfo td {
	padding:15px 10px;
	width: 720px
}

.writeInfo table, .nuInfo table {
	padding:10px 0;
	border-bottom: 1px solid #CCCCCC;
}

/* 공지사항 글쓰기 - 버튼 */
.write_btn {
	padding: 15px 0;
	display: flex;
	justify-content: flex-end;
}

.write_btn input {
	width: 100px;
	padding:10px 5px;
	border: none;
	color: #ffffff;
	margin-right: 10px
}

#noticeCancle, #noticeDelete {
	background-color: #777777
}

#noticeWrite, #noticeUpdate {
	background-color: #2a2a2a
}

/* 공지사항 글쓰기 - input 요소 설정*/
#noticeOption, #noticeName{
	padding: 5px;
	border: 1px solid #cccccc;
	font-size: 15px
}

#noticeName {
	width: 700px;
}

#noticeNum {
	border: none;
	font-size: 16px
}
#noticeNum:focus {
	outline:none;
}

/*----------empty----------*/
.empty {
	width: 100%;
	text-align: center;
	padding: 30px 0;
	color: #777777;
	font-size: 14px;
	border-bottom: 1px solid #eeeeee
}


/* 공지사항 - noticePaging */
.noticePaging {
	text-align: center;
	padding:20px 0;
}

.noticePaging ul {
	display: flex;
	justify-content: center
}

.noticePaging ul li {
	padding: 0 3px
}

.noticePaging ul li a{
	font-size : 15px;
	color:#ccc;
	border: 1px solid #ccc;
	padding: 5px 8px;
	border-radius: 5px
}

.noticePaging ul li a:hover {
	color:#fff;
	background-color: #FF984F;
	border: 1px solid #ff984f;
}

